@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  background-image: url('../images/background.jpg');
}

.site-title {
  font-size: 3rem;
  color: plum;
  font-weight: 700;
  margin: 3rem 0;
}

.container {
  background-color: white;
  padding: 1rem;
  margin: auto;
  max-width: 500px;
  font-family: 'Comic Neue', cursive;
}

.heading {
  color: cyan;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
}